body {
    font-family: 'Montserrat', sans-serif;

    background-color: #F5F7FA;
}

.main-container{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background: #fff;
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* maim content section */

.main-content-section { 
    padding: 100px 90px;
}

.main-content-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000;
    margin: 0 0 10px 0;
}

.about-me-profession {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin: 0 0 20px 0;
}

.about-me-name {

    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    margin: 0 0 25px 0;
    color: black;
}

.about-me-description {

    width: 400px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;

}

.about-me-section {
margin: 0 0 40px 0;
}

/* my project section */


.my-projects-section {

    margin: 0 0 50px 0;
    
}

.my-projects-list {
    padding: 0 0 0 17px;
}

.my-projects-item {
    color: #000;
    font-weight: bold;
}

.my-projects-text {
    margin: 0 0 0 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.my-projects-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.my-projects-bracket {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000;
}

/* my work experience */

.my-work-experience-company {

    color: #F86D3A;
}

.my-work-experience-position {

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 10px 0;
}

.my-work-experience-period {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color:  #A8A8A8;
    margin: 0 0 10px 0;
}

.my-work-experience-devider {
    color: #000;
    font-weight:bold;
}

.my-work-experience-duties {
    padding: 0 0 0 18px;
}

.my-work-experience-duty {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.my-work-experience-company-block{
    margin: 0 0 15px 0;
}

.my-education-section{
    padding-top: 45px;
}


/* sidebar section */

.sidebar-section {

    background: #1E2939;
    width: 370px;
    padding: 40px 0;
}

.contacts-section, 
.tech-skill-section {
    margin: 50px 0 0 40px;
}

.sidebar-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 10px;
}

/* contacts section */

.contacts-type { 
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-right: 5px;
}

.contacts-link {
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.tech-skill-list {
    padding: 0 0 0 17px;
}

.tech-skill-item {
    color: #FB6D3A;
}

.tech-skill-item-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}

.sidebar-title-skills {
    margin: 45px 0 0 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
}

.soft-skill-list {
    margin: 10px 0 0 40px;
    padding: 0 0 0 17px;
}

.my-photo{
    max-width: 370px;
}

.languages{
    display: flex;
    justify-content: flex-end;
}

.languages span{
    margin-right: 10px;
}

.languages span:last-child {
    margin-right: 0px;
}

.current-lang{
    color: #F86D3A;
    font-weight: 700;
}

.switch-lang{
    color: #000;
    font-weight: 700;
}